<%- include('partials/header') %>

<div class="container centered">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h1 class="mb-4 title">The Secret App</h1>
      <div class="card px-md-3">
        <div class="card-body">
          <div class="card-title text-center">
            <span>Log Into Secret App</span>
            
            <%if(error === "Password or username is incorrect"){%>
              <p class="mt-2 mb-2">Email or password is incorrect</p>
            <%} else {%>
              <p class="mt-2 mb-2"><%= error %></p>
            <%}%>
          </div>

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <input type="email" class="form-controll form-control-lg inputEmail text-center" placeholder="Enter your email" name="username" autocomplete="off">
            
              <input type="password" class="form-control form-control-lg inputPass text-center  mt-4" placeholder="Enter your password" name="password">
            </div>
            <button type="submit" class="btn-lg btnLogin mt-2 mb-4">Login</button>
            <!-- <a class="btn-lg btnSignIpWithGoogle button" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Continue with Google
            </a> -->
            <div class="signup text-center">
              <p class="mt-2"><a href="#!" class="forgotPassword mr-3 h6">Forgot Password?</a>
              <a href="/register" class="signUp h6"> Sign Up</a></p>
            </div>
          </form>

        </div>
      </div>
      <%- include('partials/copy') %>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/circles') %>

<%- include('partials/footer') %>
