<%- include('partials/header') %>

<!-- <div class="container submit-centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p>Don't keep your secrets, share them anonymously!</p>

    <form action="/submit" method="POST">
      <div class="form-group">
        <input type="text" class="form-control-lg text-center inputSecret" name="secret" placeholder="What's your secret?" autocomplete="off">
      </div>
      <button type="submit" class="btn-lg btnSubmitSecret">Submit</button>
    </form>
</div> -->

<div class="container submit-centered">

  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h1 class="mb-4 title">The Secret App</h1>
      <div class="card px-md-3">
        <div class="card-body">
          <div class="card-title text-center">
            <i class="fas fa-key fa-6x"></i>
            <%if(error.length > 0){%>
              <p class="mt-2"><%= error %></p>
            <%} else { %>

              <p class="mt-2">Don't keep your secrets, share them anonymously!</p>
            <%}%>
          </div>
          <form action="/submit" method="POST">
            <div class="form-group">
              <input type="text" class="form-control-lg text-center inputSecret" name="secret" placeholder="What's your secret?" autocomplete="off">
            </div>
            <button type="submit" class="btn-lg btnSubmitSecret mt-2 mb-4">Submit</button>
            <a class="btn-lg btnSubmitSecret button" href="/secrets" role="button">Back</a>
          </form>
        </div>
      </div>
      <%- include('partials/circles') %>
    </div>
  </div>
</div>

<%- include('partials/circles') %>

<%- include('partials/footer') %>
